/* ------------------------- Introduction ------------------------ */
#introduction-content {
    padding: 20% 0 25% 5%;
    width: 60%;
}
#introduction-content h2 {
    font-size: 55px;
    letter-spacing: 1.5px;
}
#introduction-content h2 span {
    color: #c4c4c4;
}
#introduction-content p {
    margin-top: 40px;
    font-size: 25px;
    line-height: 1.8;
    letter-spacing: 1.5px;
}
.sign-in{
    margin: 2% 0 0% 5%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    display: none;
}
/* ------------------------- About ------------------------ */
.about h3, .about p {
    width: 59%;
    margin-left: 5%;
    font-size: 55px;
    letter-spacing: 1.5px;
}

.about p {
    margin-top: 30px;
    font-size: 25px;
    line-height: 2;
}
/* ------------------------- About us ------------------------ */
.contact {
    margin: 15% 0 5% 5%;
    height: 50vh;
    justify-content: space-between;
    width: 50%;
}
.contact h5{
    color: #000000;
    font-size: 55px;
    letter-spacing: 1.5px;
    padding-bottom: 20px
}
.contact p{
    line-height: 1.5;
    letter-spacing: 1.5px;
    font-size: 25px;
}
/*------------------- Media rules for mobile view -----------------*/
@media (max-width: 1350px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 50px; 
      }
      .navigation {
        display: none;
      }
    body {
        background-color: #eeeeee;
        background-image: none;
        min-height: 15vh;
        margin: 0;
    }
    #introduction-content{
        width: 90%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .sign-in{
        display: inline;
        margin-bottom: 10vh;
    }
    .about h3{
        width: 90%;
    }
    .contact{
        width: 90%;
        margin-bottom: 5%;
    }
    .about h4, .about p{
        width: 90%;
    }
    p {
        font-size: 10px;
    }
}
@media screen and (max-width: 768px) {
    /* Target <p> elements within specific sections */
    #introduction-content p,
    .about p,
    .contact p {
        font-size: 17px;
    }
}
