
/* ----------------------------- Landing ----------------------------- */
.landing-section {
  padding-left: 2%;
  height: 100vh;
  width: 100%;
}

#greeting-header, #date-header {
  font-size: 55px;
  letter-spacing: 1.5px;
}

#greeting-header {
  padding-top: 38vh;
}

#date-header {
  padding-top: 1vh;
  color: #c4c4c4;
  font-size: 35px;
}

.landing-section p {
  padding-top: 2vh;
  font-size: 20px;
  width: 60%;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

#update-account-question{
  padding-top: 3vh;
  margin-bottom: 0;
}

#update-account-text-button, #cancel-account-update-button{
  padding-top: 0.5vh;
  font-weight: 600;
  cursor: pointer;
  width: 20vh;
}
#update-account-text-button:hover{
  color: #2260e4;
}

#cancel-account-update-button{
  display: none;
  width: 6.8vh;
}

#cancel-account-update-button:hover{
  color: rgb(172, 14, 14);
}

/* ----------------------- Update Account form ------------------------- */
#update-user-form {
  /* display: none; */
  margin-top: 20px; 
  width: 400px; 
  height: 380px;
  float: left;
  padding: 20px; 
  box-sizing: border-box; 
}
#update-user-form select,
#update-user-form input,
#update-user-form textarea {
  margin: 5px 0 10px 0;
}

#update-user-form h2{
  margin: 0.5vh 0 2vh 0;
}
#update-account-buttons{
  display: flex;
  justify-content: space-between;
}
#update-user-form button{
  margin: 2% 0;
  padding: 10px;
}

/* ------------------------- Form validation ----------------------------- */
#mood option[disabled] {
  color: #999; /* Placeholder text color */
}

/* ------------------------------ Diary ----------------------------- */
.diary-section {
  display: flex;
  font-size: 20px;
  padding-top: 10vh;
  margin-bottom: 10vh;
}
.left-diary {
  /* background-color: aqua; */
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}

.top-left-diary {
  /* background-color: firebrick; */
  flex: 0.7;
}
#diary-container{
  margin: 0;
}
.bottom-left-diary {
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* background-color: blue; */
  flex: 3.5;
  margin: 0;
}

.top-left-diary h3 {
  padding-bottom: 2vh;
  font-size: 40px;
}

.top-left-diary p {
  padding-bottom: 3vh;
  line-height: 1.5;
  padding-right: 2vh;
}

.right-diary {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    /* background: linear-gradient(to bottom, #eeeeee, #dddddd); */
    /* background-color: green; */
  }

/* --------------------------- Exercise ------------------------ */
.exercise-section {
  padding-top: 10vh;
  display: flex;
  font-size: 20px;
  /* background-color: #dddddd; */
}

#exercise-container{ /* This is add exercise-form-bg*/
  /* background-color: gold; */
  margin: 0;
}
/* ---------------------- Left exercise ------------------------ */
.left-exercise {
  /* background-color: aqua; */
  flex: 1.5;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.top-left-exercise {
  /* background-color: firebrick; */
  flex: 1.5;
}

.bottom-left-exercise {
  padding-top: 2vh;
  padding-bottom: 5vh;
  /* background-color: blue; */
  flex: 3.5;
}

.top-left-exercise h3 {
  padding-bottom: 2vh;
  font-size: 40px;
}

.top-left-exercise p {
  padding-bottom: 3vh;
  line-height: 1.5;
  padding-right: 2vh;
}

/* ---------------------- Right exercise ------------------------ */
.right-exercise {
  /* background-color: green; */
  flex: 3;
}
/* ---------------------- Middle exercise ------------------------ */
.middle-exercise{
  padding: 0 2% 0 2%;
  flex: 1.5;
}

.middle-exercise h4{
  margin: 0;
  padding: 0;
  font-size: 30px;
  padding-bottom: 20px;
}
.middle-exercise p{
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.middle-exercise p span{
  color: #007bff;
  font-weight: 750;
}

/* --------------------------- Forms ------------------------ */
.container {
  width: 430px;
  height: 630px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #b9b9b99d;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}
select,
input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}
button:hover {
  background-color: #0056b3;
}

#modify-entry-form{
    outline-style: solid;
    outline-color: rgb(231, 179, 119);
    outline-width: 5px;
    height: 650px;
}
#modify-entry-form h3{
    padding-bottom: 2vh;
}